<app-navigation></app-navigation>
<div class="container p-3">
    <div class="row text-center mb-4">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 offset-md-0">
            <div class="card ">
                <div class="card-body">
                    <div class="login-img text-center">
                        <img src="assets/Mobitel_logo.png" alt="Cinque Terre">
                    </div>
                    <div class="login-title text-center" >
                        <h4><b>Vendor Application Manager - Application Management</b></h4>
                    </div>
                    <div class="login-form mt-4">
                        
                        <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th style="width: 130px;">Actions</th>
                                <th>Application Code</th>
                                <th>Application Name</th>
                                <th>Application Sequence</th>
                                <th>Is Active</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <button class="btn btn-block btn-outline-primary" (click)="clearModel();"
                                        type="button"  data-toggle="modal" data-target="#myModal" title="Create">
                                        <i-bs name="plus" class="text-primary" width="2rem" height="2rem"></i-bs>
                                    </button> <!-- (click)="clearModel();" -->
                                    <!-- <button type="button" class="btn btn-block btn-outline-primary" >
                                      <i-bs name="plus" class="text-primary" width="2rem" height="2rem"></i-bs>
                                    </button> -->
                                </td>
                                <td colspan="10">
                                    <input type="text" 
                                        id="text-input" 
                                        name="searchCode" 
                                        [(ngModel)]="filter"
                                        class="form-control" 
                                        placeholder="Search">
                                </td>
                              </tr>
                              <tr *ngFor="let app of mainModelList | filter:filter | paginate: { id: 'pagination1', itemsPerPage: 10, currentPage: p };">
                                <td style="width: 130px;">
                                    
                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button class="btn btn-outline-success" data-toggle="modal" data-target="#myModal"
                                              type="button" (click)="getApplicationById(app)" title="Update">
                                            <i-bs name="pencil-square" class="text-success"></i-bs>
                                        </button>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <button class="btn btn-outline-danger" 
                                                type="button" (click)="deleteApplication(app)" title="Delete">
                                                <i-bs name="trash" class="text-danger" ></i-bs>
                                            </button>
                                        </div>
                                      </div> 
                    
                                </td> 
                                <td>{{app.applicationCode}}</td>
                                <td>{{app.applicationName}}</td>
                                <td>{{app.sequence}}</td>
                                <td>{{app.active}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="row">
                            <div class="col-sm-12 text-right">
                              <pagination-controls id="pagination1" (pageChange)="p = $event"></pagination-controls>
                            </div>
                          </div> 


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Vendor Application Manager - Create Application</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <!-- Modal body....................... -->
          <div class="container p-1">
            <!-- <div class="row text-center mb-4">
                <div class="col-md-12">
                </div>
            </div> -->
            <div class="row text-center">
                <div class="col-md-12 offset-md-0">
                    <div class="card ">
                        <div class="card-body">
                            <!-- <div class="login-img">
                                <img src="assets/Mobitel_logo.png" alt="Cinque Terre">
                            </div>
                            <div class="login-title">
                                <h4><b>Vendor Application Manager- Registration</b></h4>
                            </div> -->
                            <div class="login-form mt-4">
                                <form class="form-horizontal" #app="ngForm" (ngSubmit)="submit();">
        
                                    <!-- <div class="form-group col-md-12">
                                        <b>Personal Details</b>
                                        <hr>
                                    </div> -->
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-right" for="text-input">Application Code</label>
                                        <div class="col-md-9">
                                            <input type="text" 
                                                    name="applicationCode" 
                                                    maxlength="3"
                                                    (blur)="getApplicationbyCode()"
                                                    class="form-control" 
                                                    [class.is-invalid]="(applicationCode.touched && applicationCode.errors?.required) || (applicationCode.touched && !recordError)"
                                                    placeholder="Application Code"
                                                    #applicationCode="ngModel" 
                                                    [(ngModel)]="mainModel.applicationCode"
                                                required>
                                            <div *ngIf="applicationCode.touched && applicationCode.errors?.required" style="color: red;">
                                                Enter application code
                                            </div>
                                            <div *ngIf="applicationCode.touched && !recordError" style="color: red;">
                                                Application code alrady exist.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-right" for="text-input">Application Name</label>
                                        <div class="col-md-9">
                                            <input type="text" 
                                                    name="applicationName" 
                                                    class="form-control" 
                                                    [class.is-invalid]="applicationName.touched && applicationName.errors?.required"
                                                    placeholder="Application Name"
                                                    #applicationName="ngModel" 
                                                    [(ngModel)]="mainModel.applicationName"
                                                required>
                                            <div *ngIf="applicationName.touched && applicationName.errors?.required" style="color: red;">
                                                Enter application name
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-right" for="text-input">Application Sequence</label>
                                        <div class="col-md-9">
                                            <input type="text" 
                                                    name="sequence" 
                                                    class="form-control" 
                                                    [class.is-invalid]="sequence.touched && sequence.errors?.required"
                                                    placeholder="Application Sequence"
                                                    #sequence="ngModel" 
                                                    [(ngModel)]="mainModel.sequence"
                                                required>
                                            <div *ngIf="sequence.touched && sequence.errors?.required" style="color: red;">
                                                Enter application sequence
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label text-right" for="text-input">Is Active</label>
                                        <div class="col-md-9">
                                             
                                          <select name="active" [(ngModel)]="mainModel.active" class="form-control" > 
                                            <option *ngFor="let active of statusArr" [value]="active.value">{{active.title}}</option> 
                                          </select>
  
                                          </div>
                                      </div>

                                    <div class="row">
                                        <div class="col-sm-12 text-right">
                                            <!-- <button type="reset" class="btn btn-sm btn-success">
                                                <i class="fa fa-ban"></i> Reset
                                            </button> -->
                                            &nbsp;
                                            <button name="submit" type="submit" class="btn btn-sm btn-primary" [disabled]="((app.invalid) || (!recordError))"> <!-- !registration.invalid && !checkPasswordError -->
                                                <i class="fa fa-dot-circle-o"></i> Submit
                                            </button>
                                            <!-- [disabled]="!accessGroupForm.valid" -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- <div class="logi-forgot text-right mt-2">
                                <a href="#">Reset Password </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

